	body,h2,div,p{
		padding: 0;
		margin: 0;
	}
		body{
			width: 1920px;
			height: 1080px;
			overflow-y: hidden;
			background: url(../img/background-1.jpg) no-repeat;
			color: #fff;
			margin: 0 auto;
			font-family: "方正兰亭"
		}
		.item{
			font-size: 100px;
			margin-bottom: 60px;
		}
		#box{
			padding: 200px;
			position: relative;
			left: 0;
			top: 0;
		}
		img{
			width: 1520px;
			height: 640px;border-radius: 8px;
			margin-bottom: 20px;
		}
		p{
			font-size: 48px;
			color: black;
			margin-bottom: 20px;
		}
		p{
			font-size: 30px;
			/*float: right;*/
			margin-right: 13px;
			color: black;
		}