
	body,h2,div,img,ul,li{
		padding: 0;
		margin: 0;
	}
		body{
			width: 1280px;
			height: 720px;
			/*overflow-y: hidden;*/
			background: url(../img/background.png) no-repeat;
			color: #fff;
			margin: 0 auto;
			font-family: "方正兰亭"
		}
		#box{
			margin-left: 74px;
			position: relative;
			top: 0;
			left: 0
		}
		.item{
			font-size: 48px;
			padding-top: 37px;
			margin-bottom: 37px;
		}
		ul li{
			list-style: none;
			float: left;
		}
		img{
			width: 500px;
			height: 240px;
			border-radius: 8px;
			margin: 10px;
		}
		li h2{
			width: 500px;
			font-size: 32px;
			background-color: rgba(0,0,0,0.7);
			border-radius: 8px;
			text-align: center;
			
		} 
		ul:after{
			content: "";
			display: block;
			clear: both;
			visibility: hidden;
		}
		.img1 h2{
			position: absolute;
			left: 10px;
			top: 346px;
		}
		.img2 h2{
			position: absolute;
			left: 530px;
			top: 346px;
		}
		.img3 h2{
			position: absolute;
			left: 10px;
			top: 610px;
		}
		.img4 h2{
			position: absolute;
			left: 530px;
			top: 610px;
		}
		span{
			font-size: 20px;
			float: right;
			margin-right: 134px;
			font-family: "Microsoft YaHei"
		}
		.now{
		box-shadow:orange 0px 0px 20px 5px ;
		}