body,h2,div,p{
		padding: 0;
		margin: 0;
	}
		body{
			width: 1280px;
			height: 720px;
			background: url(../img/background-1.png) no-repeat;
			color: #fff;
			margin: 0 auto;
			overflow-y: hidden;
			font-family: "方正兰亭"
		}
		.item{
			font-size: 67px;
			margin-bottom: 40px;
		}
		#box{
			padding: 74px;
			position: relative;
			left: 0;
			top: 0;
		}
		.title h2{
			font-size: 32px;
			color: black;
			margin-bottom: 20px;
		}
		.pic1 img{
			width: 434px;
			height: 207px;
			display: block;
			margin-bottom: 20px;
			border-radius: 8px;
		}
		p{
			font-size: 24px;
			color: black;
			text-indent: 2em;
			margin-left: 20px;
			height: 147px;
			line-height: 33px;
			width: 560px;
			font-family: 'Microsoft YaHei'
		}
		
		.text1{
			width: 560px;
		}
		.pic1,.text1{
			float: left;
		}
		.title1:after{
			display: block;
			content: "";
			clear: both;
			visibility: hidden;
		}
		.pic2 img{
			width: 434px;
			height: 207px;
			border-radius: 8px;
		}
		.pic2,.text2{
			float: left;
		}
			.title2:after{
			display: block;
			content: "";
			clear: both;
			visibility: hidden;
		}
		.text2 p{
			margin-top: 20px;
		}
		span{
			font-size: 20px;
			color: red;

			position: relative;
			left: 732px;
			top: -830px;
		}