
		body,h2,div,p{
		padding: 0;
		margin: 0;
	}
		body{
			width: 1280px;
			height: 72px;
			background: url(../img/background-1.png) no-repeat;
			color: #fff;
			overflow-y: hidden;
			margin: 0 auto;
			font-family: '方正兰亭粗黑'
		}
		.item{
			font-size: 67px;
			margin-bottom: 40px;
		}
		#box{
			padding: 74px;
			position: relative;
			left: 0;
			top: 0;
		}
		.title h2{
			font-size: 32px;
			color: black;
			margin-bottom: 20px;
		}
		img{
			width: 500px;
			height: 300px;
			margin-bottom: 20px;
			border-radius: 8px;
		}
		span{
			font-size: 20px;
			color: red;
			position: relative;
			top: -828px;
			left: 710px;
		}